@import '/src/Assets/Styles/Variables.scss';

.userDashboard {
  margin: 1vh 2vw;
  height: 100%;
}

.userDashboard_header {
  display: flex;
  text-align: center;
  margin-bottom: 2vh;
}

.userDashboard_header h1 {
  border-right: solid $background-color;
  padding-right: 1vw;
  font-size: $title-size;
}
.userDashboard_header-nav {
  display: block;
  text-align: center;
  margin-left: 1vw;
  justify-items: center;
  justify-content: center;
}

.userDashboard_header-nav a {
  height: 100%;
  text-decoration: none;
  color: $background-color;
  font-size: $font-size;
}

.userDashboard_header-nav a:hover {
  color: $background-color2;
}

.userDashboard_content {
  border-radius: $border-radius1;
  margin-top: 2vh;
  background-color: white;
  height: 80vh;
  padding: 2vh;
  padding-bottom: 0px;
}

.userDashboard_content-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $font-color;
}

.userDashboard_content-header #search-bar {
  width: 60%;
  border: solid $background-color;
  border-radius: $border-radius1;
  padding: 3px 10px;
  margin: 2vh 1vw;
}

.userDashboard_content-header button {
  border-radius: $border-radius1;
  padding: 5px;
  width: 100px;
  margin: 2vh 1vw;
  background-color: $background-color;
  border: none;
}

.userDashboard_content-header button:hover {
  background-color: $background-color2;
}

.userDashboard_content-header a {
  text-align: center;
  text-decoration: none;
  background-color: $background-color;
  color: black;
  border-radius: $border-radius1;
  padding: 5px;
  width: 20%;
  margin: 2vh 1vw;
}

.userDashboard_content-header a:hover {
  background-color: $background-color2;
}

.userDashboard_content-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #eff2f5;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
}

.userDashboard_table_header {
  display: table-header-group;
  vertical-align: bottom;
  border-radius: 0.625rem;
}

.userDashboard_table_header th {
  color: black;
  background-color: $background-color3;
}

.userDashboard_table_header th,
tr {
  text-align: center;
}

.userDashboard_table_header tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #eff2f5;
}

.userDashboard_table_header tr:last-child,
td:last-child,
th:last-child {
  padding-right: 0;
}
.userDashboard_table_header tr:first-child,
td:first-child,
th:first-child {
  padding-left: 0;
}

.userDashboard_content-table tbody td {
  color: #a1a5b7;
  vertical-align: middle;
  padding: 0.8rem 0;
}

.table_column_actions ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.table_column_actions ul li a {
  text-decoration: none;
  color: inherit;
  margin: 0.2rem;
  vertical-align: middle;
}

.table_column_actions ul li a:hover {
  color: $background-color2;
}
