@import '/src/Assets/Styles/Variables.scss';

/* .registerUser {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.register-user {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-user__container {
  height: 500px;
  width: 70%;
  padding: 2vw;
  border: 2px solid #d0ddddf1;
  border-radius: 10px;
  background-color: white;
}
.register-user__form {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 10% 25% 10% 25% 10% 10%;
  grid-template-rows: 5% 10% 5% 15% 5% 15% 5% 15% 5% 15% 5%;
}
.register-user .title {
  color: #cdd5d6;
  text-align: center;
  font-size: 2rem;
  grid-column: 3/6;
  grid-row: 2/3;
}

.name {
  grid-column: 2 / 4;
  grid-row: 4 / span 1;
}
.register-email {
  grid-column: 5 / 7;
  grid-row: 4 / span 1;
}
.register-password {
  grid-column: 2 / 4;
  grid-row: 6 / 8;
}
.register-confirmPassword {
  grid-column: 5 / 7;
  grid-row: 6 / span 1;
}
.phone {
  grid-column: 2 / 4;
  grid-row: 8 / 9;
}
.area-field {
  grid-column: 5 / 7;
  grid-row: 8 / 9;
}
.name,
.email,
.password,
.confirmPassword,
.phone label {
  // margin: 0px;
  font-size: 15px;
}
.saveButton {
  grid-column-start: 5;
  grid-row-start: 10;
  grid-row-end: span 1;
  justify-self: center;
  align-self: center;
}
.backButton {
  grid-column-start: 3;
  grid-row-start: 10;
  grid-row-end: span 1;
  justify-self: center;
  align-self: center;
}
