.card {
  position: relative;
  display: block;
  height: 300px;
  max-width: fit-content;
  border-radius: calc(var(--curve) * 1px);
  /*   box-shadow: 2px 2px #b7b5b5;
    border: 1px solid #b7b5b5; */
  overflow: hidden;
  text-decoration: none;
}
