@import '/src/Assets/Styles/Variables.scss';

.area_header {
  margin: 5px 5vw;
  display: flex;
  height: 10vh;
  padding: 1rem;
  justify-content: space-between;
}

.area_header-title {
  font-size: $title-size;
  font-weight: 600;
  text-align: center;
}

.area_header-information {
  display: block;
  font-size: $font-size;
  font-weight: 400;
  margin: 1vh;
}
.area_header-active-information {
  margin: 0.5vh;
  color: $background-color2;
}

.area_header_register {
  display: flex;
}

.area_header_register p {
  margin: 1vh 1vw;
}

.area_header_register span svg {
  color: $background-color;
  height: 35px;
  width: 35px;
  transition: 0.5s;
}

.area_header_register span svg:hover {
  transition: 0.5s;
  color: $background-color2;
  height: 45px;
  width: 45px;
}

.area_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin: 2rem 5vw;
  padding: 1rem;
  list-style-type: none;
  background-color: white;
  border-radius: 35px;
}
