@import '/src/Assets/Styles/Variables.scss';
.Dashboard_body {
  margin: 1.5rem;
  padding: 1.5rem;
  min-height: 150vh;
  height: max-content;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 15% 15% 15% 15% 15% 15% 10%;
  gap: 1rem;
}

.generalPieChart {
  background-color: gray;
  padding: 1rem;
  background-color: white;
  border-radius: 0.625rem;
  grid-column: 1/3;
  grid-row: 4/7;
}

.areaPieChart {
  background-color: white;
  padding: 1rem;
  border-radius: 0.625rem;
  grid-row: 1/3;
  grid-column: 3/5;
}
.areaBarChart {
  background-color: white;
  padding: 1rem;
  border-radius: 0.625rem;
  grid-row: 3/5;
  grid-column: 3/5;
}

.areaAreaChart {
  background-color: white;
  padding: 1rem;
  border-radius: 0.625rem;
  grid-column: 1/3;
  grid-row: 1/4;
}

@media (max-width: 600px) {
  .Dashboard_body {
    margin: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 25% 25%;
    gap: 0.5rem;
  }
  .areaAreaChart {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .generalPieChart {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .areaPieChart {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .areaBarChart {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
