@import '/src/Assets/Styles/Variables.scss';

.equipmentDashboard_header {
  margin: 1.5rem 0.5rem;
  display: flex;
  height: 10vh;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0.625rem;
}

.equipmentDashboard_header_information {
  display: block;
  font-size: $font-size;
  font-weight: 400;
  margin: 1vh;
}

.equipmentDashboard_header_status {
  margin: 0.5vh;
  color: $background-color2;
}

.equipmentDashboard_header_register {
  display: flex;
  height: 50px;
  align-items: center;
}

.equipmentDashboard_header_register p {
  margin: 1vh 1vw;
}

.equipmentDashboard_header_register span svg {
  color: $background-color;
  height: 35px;
  width: 35px;
  transition: 0.5s;
}

.equipmentDashboard_header_register span svg:hover {
  transition: 0.5s;
  color: $background-color2;
  height: 45px;
  width: 45px;
}

.equipmentDashboard_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 1.5rem 5vw;
  padding: 1rem;
  list-style-type: none;
  background-color: $white-color;
  border-radius: 35px;
}
