@import '/src/Assets/Styles/Variables.scss';
@import '../Button/MainButton.scss';
* {
  box-sizing: border-box;
}
body {
  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: grid;
  width: 80%;
  height: auto;
  min-height: 70%;
  border: 2px solid #d0ddddf1;
  border-radius: 10px;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 10% 10% 15% 5% 15% 10% 10%;
}
.title {
  color: $font-color;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
  font-size: 2rem;
}
.email {
  grid-column: 2/3;
  grid-row: 4 / 5;
  font-size: 18px;
}
.password {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  font-size: 18px;
}
#emailLabel,
#passwordLabel {
  font-size: 15px;
}
.link {
  font-style: italic;
  text-decoration: none;
  grid-row: 7/8;
  grid-column-start: 2;
}
.mainButton {
  grid-row: 8/9;
  grid-column-end: 3;
  justify-self: right;
  width: 120px;
}

@media (max-width: 600px) {
  /* .container {
  } */
  .form {
    width: 80%;
    grid-template-columns: 10% 80% 10% !important;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    grid-column: 2 / span 1;
  }

  .password,
  .email {
    font-size: 15px;
    grid-column: 2 / 3;
  }
  .mainButton {
    grid-column-end: 3;
    font-size: 12px;
    width: fit-content;
  }
}
