@import '~bootstrap/scss/bootstrap';
//@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

$background-color: #78ddee;
$font-color: #78ddee;
$size-sm: 2px;
$size-md: 5px;
$shadow-color: #c6c2c1;
* {
  margin: 0px;
  padding: 0px;
}
body::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
