@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

$backgroundMain-color: #fafcfcf1;
$background-color: #d0ddddf1;
$font-color: #cdd5d6;
$size-sm: 2px;
$size-md: 5px;
$shadow-color: #c6c2c1;
// $backgroundhover-color: #5cbecf;
$backgroundhover-color: #487497;
