@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Tiro+Devanagari+Marathi&display=swap');

$backgroundMain-color: #003566;
$background-color: #b7d5f5;
$background-color2: #72a2d7;
$background-color3: #e8ecf1;
$font-color: #42484a;
$border-radius1: 24px;
$border-radius2: 14px;
$size-sm: 2px;
$size-md: 5px;
$shadow-color: #c6c2c1;
// $backgroundhover-color: #5cbecf;
$backgroundhover-color: #011737;
$border-color: #010b1a;
