@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

$backgroundMain-color: #003566;
$background-color: #4785c7;
$background-color2: #001d3d;
$font-color: #cdd5d6;
$size-sm: 2px;
$size-md: 5px;
$shadow-color: #c6c2c1;
// $backgroundhover-color: #5cbecf;
$backgroundhover-color: #011737;
$border-color: #010b1a;
